@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #2d323e #111318;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
*::-webkit-scrollbar-track {
  background: #111318;
}
*::-webkit-scrollbar-thumb {
  background: #2d323e;
  border-radius: 2px;
}